* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(254,246,221);
  background: radial-gradient(circle, rgba(254,246,221,1) 0%, rgba(254,246,221,1) 82%, rgba(255,243,205,1) 99%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

